/*dashboard.css*/
.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

#recipe-list article {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}