/*user-mngmt.css*/
#form-container {
    margin-bottom: 30px;
}

#user-list {
    list-style-type: none;
    padding: 0;
}

.delete-user-btn {
    background-color: #ff2a2a;
	color: #fff;
}

#save-user-btn {
    background-color: #2f7a52;
	color: #fff;
}

#new-username,
#new-password,
#new-role {
    margin-bottom: 5px;
}
