body {
    font-family: sans-serif;
    padding: 20px;
}

/* Diese Klasse versteckt Elemente */
.hidden {
    display: none;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

#nav-bar > div {
    display: flex;
    align-items: center;
    width: 100%;
}

#show-user {
    margin-left: auto;
    margin-right: 20px;
    font-weight: bold;
}

#error-msg {
    color: red;
    margin-top: 10px;
}

#home-link {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

#recipe-list article {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}